html, body, #root {
	height: 100%;
}

body {
	margin: 0;
	padding: 0;
	/*background-color: #fffbb3;*/
	
	background-color: #21D4FD;
	background-image: linear-gradient(180deg, #21D4FD 0%, #B721FF 100%);
}

.App {
	position: relative;
	width: 100%;
	height: 100%;
}